navbarWidth{
    width: 100%;
}

.navbar-collapse{
    flex-grow: 0 !important;
}
.navbar-brand{
    font-size: 40px !important;
    font-weight: bold;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
.navbar-toggler-icon{
    background-image: none !important;
}

.buttonNavbar{
    color: black;
    font-size: 20px;
    margin-left: 50px;
    text-decoration: none;
    display: inline;
    background-image: linear-gradient(#fcaf3b, #fcaf3b);
    background-size: 0% 3px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: background 0.3s linear;
}
.buttonNavbar:hover{
    background-size: 100% 3px;
    color: #fcaf3b;
}
@media (max-width: 992px){
    .buttonNavbar{
        margin-left: 5px;
    }
    hr{
        border: 2px solid #fcaf3b !important;
        opacity: 100%;
        width: 50px !important;

    }
}
.topbar{
    background-color: white;
}
